{% extends "base.html" %}

{% block content %}
    <div style="background: white">
        <div class="ml-3">
            <hr>
            <h1>{{ object|yesno:"Update, Create" }} Car</h1>
            <hr>
        </div>
    </div>

    <div style="background: white">
        <hr>
        <div class="ml-3">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <hr>

                <input type="submit" value="Submit" style="margin-left: 15%" class="btn btn-primary">
                <hr>
            </form>
        </div>
    </div>

{% endblock %}
